.DS_Store

# Dependencies
node_modules/
.pnpm-store/

# Environment
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.venv

# Testing and Linting
.pytest_cache/
.ruff_cache/
coverage/
.eslintcache

# Build and IDE
.run/
.next/
.turbo/
dist/
build/
*.tsbuildinfo

# Python
__pycache__/
*.pyc
*.egg-info

# Logs and databases
*.log
*.pid
*.db

scripts
package.json
README.md

#prevent previous code
kalpzero
